.commentContainer {
  max-width: 500px;
  display: grid;
  grid-template-columns: 100px 350px;
  grid-template-rows: 100px 100px;
  grid-gap: 10px;
  margin-top: 10px;
  font-family: "Times New Roman";
  font-size: 16px;
}

.avatar {
  max-width: 100px;
  max-height: 600px;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 200px;
}

.comment > div {
  max-height: 300px;
  max-width: 350px;
}

.comment .header {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 15% auto;
}

.header > div {
  border-bottom: double;
  height: 20px;
}

.comment .footer {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 15% auto;
  border-top: double;
}

.sidebar .avatar {
  border: groove;
}

.sidebar .likes {
  text-align: center;
}

.postContainer {
  background-color: DodgerBlue;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
}

.innerContainer {
  background-color: #ccc;
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.postContainer .header {
  font-size: 2em;
  margin-bottom: 10px;
}

.innerContainer .body {
  height: 400px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer > div:hover {
  cursor: pointer;
  background: DodgerBlue;
}
